body {
	background: url("../images/background.png") repeat;
}

.content {
	height: 100%;
	width: 100%;
	margin: 5% auto 0;
	text-align: center;
}

.centered {
	margin: 0 auto;
	text-align: center;
}

.footer {
	text-align: center;
	margin: 2% auto 0;
}

.error {
	color: red;
}

table.myTable {
	margin: 0 auto;
	border: 6px solid #948473;
	background-color: #FFE3C6;
	width: 50%;
	text-align: center;
}

table.myTable td, table.myTable th {
	border: 1px solid #948473;
	padding: 4px 4px;
}

table.myTable tbody td {
	font-size: 13px;
}

table.myTable thead {
	background: #948473;
	background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table.myTable thead th {
	font-size: 17px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
	border-left: 2px solid #948473;
}

table.myTable thead th:first-child {
	border-left: none;
}

table.myTable tfoot td {
	font-size: 16px;
}